@model ElectricShop.Models.SideBar_SPBCModel
<!-- BEGIN SIDEBAR -->

    <!--Loại sản phẩm-->
    <div>
        <h4>Loại sản phẩm</h4>
        <ul class="list-group margin-bottom-25 sidebar-menu">
            @foreach (var lsp in Model.dsLoaiSanPham)
            {
                <li class="list-group-item clearfix"><a asp-controller="SanPham" asp-action="DanhSachSanPhamTheoLoai1" asp-route-id="@lsp.TenLoaiSPKhongDau"><i class="fa fa-angle-right"></i>@lsp.TenLoaiSPCoDau</a></li>
            }
        </ul>
    </div>
    <!--end loại sản phẩm-->
    <!--Sản phẩm bán chạy-->
    <div class="sidebar-products clearfix">
        <h2>Sản phẩm bán chạy</h2>
        @foreach (var spbc in Model.dsSanPhamBanChay)
        {
            <div class="item">
                <a asp-controller="SanPham" asp-action="ChiTietSanPham" asp-route-id="@spbc.TenSPKhongDau"><img src="/@spbc.HinhAnh" alt="Some Shoes in Animal with Cut Out"></a>
                <h3><a href="shop-item.html">@spbc.TenSPCoDau</a></h3>
                <div class="price">@Html.DisplayFor(modelItem => spbc.GiaGiam) vnd</div>
            </div>

        }
    </div>
    <!-- end Sản phẩm bán chạy-->


<!-- END SIDEBAR -->