@model ElectricShop.Models.SanPham

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="dl-horizontal">
        <input type="hidden" asp-for="ID" />
        <dt>
            @Html.DisplayNameFor(model => model.TenSPCoDau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSPCoDau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TenSPKhongDau)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TenSPKhongDau)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MauSac)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NhaSanXuat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NhaSanXuat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.XuatXu)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.XuatXu)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaoHanh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaoHanh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HienThi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HienThi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SanPhamBanChay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SanPhamBanChay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KichThuocThung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KichThuocThung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KhoiLuongThung)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KhoiLuongThung)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.KichThuocMH)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.KichThuocMH)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DoPhanGiai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DoPhanGiai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ManHinhCong)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ManHinhCong)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BoXuLy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BoXuLy)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SmartTV)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SmartTV)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TanSoQuet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TanSoQuet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CongSuatLoa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CongSuatLoa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CongWiFi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CongWiFi)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CongInternet)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CongInternet)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CongHDMI)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CongHDMI)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CongUSB)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CongUSB)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ChiaSeThongMinh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ChiaSeThongMinh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HeDeHanh)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeDeHanh)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TrinhDuyetWeb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TrinhDuyetWeb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDanMay)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiDanMay)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LoaiDauDia)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LoaiDauDia)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            <a asp-action="Index">Back to List</a>
        </div>
    </form>
</div>
