@model ElectricShop.Models.KhachHang

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>KhachHang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.HoTenKhachHang)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoTenKhachHang)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SoDienThoai)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SoDienThoai)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
