@model IEnumerable<ElectricShop.Models.DonHang>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section DonHang_CSS{
    .donhang:hover {
        cursor: pointer;
    }
}
@section DonHang_Scripts{
    <script src="~/frontend_admin/js/donhang.js"></script>
}
<h2>Index</h2>
<script>
   
</script>
<div class="row">
    <div class="col-sm-12">
        <table class="table table-striped jambo_table bulk_action">
            <thead>
                <tr class="headings">
                    <th width="5%">ID</th>
                    <th width="15%">Họ tên khách hàng </th>
                    <th width="10%">Số điện thoại </th>
                    <th width="15%">Email</th>
                    <th width="25%">Địa chỉ</th>
                    <th width="10%">Tổng tiền</th>
                    <th width="5%">Đã duyệt</th>
                    <th width="5%">Đã giao</th>
                    <th width="5%">Xem</th>
                    <th width="5%"> Xóa</th>

                </tr>
            </thead>

            <tbody>
                @foreach (var dh in Model)
                {
                    var url = "/DonHang/ChiTietDonHang/" + dh.ID;
                    <tr class="donhang">
                        <td class="">@dh.ID</td>
                        <td class="">@dh.TenKhachHang</td>
                        <td class="">@dh.SoDienThoai</td>
                        <td class="">@dh.Email</td>
                        <td class="">@dh.DiaChi</td>
                        <td class="">@dh.TongTien</td>
                        <td class=""><input type="checkbox" @(dh.DaDuyet? "checked=checked" : "") style="width:20px;height:20px;" class="daduyet" data-iddh="@dh.ID"/></td>
                        <td class=""><input type="checkbox" @(dh.DaGiao ? "checked=checked" : "") style="width:20px;height:20px;" class="dagiao" data-iddh="@dh.ID"/></td>
                        <td class=""><a class="btn btn-info btn-xs" asp-action="ChiTietDonHang"  asp-route-id="@dh.ID"><i class="fa fa-eye"></i> Xem</a></td>
                        <td class=""><a class="btn btn-danger btn-xs" asp-action="Delete" onclick="return confirm('Bạn có chắc chắn xóa');"  asp-route-id="@dh.ID"><i class="fa fa-trash-o"></i> Xóa</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>


